/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */
/* 
body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
} */

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  /* color: rgba(255, 255, 255, .5); */
  color: #FF579F;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: #fff;
  color: #fff;
  
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
  padding-right: 1rem;
}

.nav-masthead .active {
  color: #fff;
  /* border-bottom-color: #fff; */
}





.bi {
  vertical-align: -.125em;
  fill: currentColor;
}


.one{
  top: 0px;
  left: 0px;
  /* width: 1920px; */
  /* height: 6015px; */
  background: transparent radial-gradient(closest-side at 50% 50%, var(--unnamed-color-f0e6ef) 0%, #CCFECB 100%) 0% 0% no-repeat padding-box;
  background: transparent radial-gradient(closest-side at 50% 50%, #F0E6EF 0%, #CCFECB 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
}

/* .lien{
  border-right:1px solid ;
  
} */

.pied{
  display: flex;
  top: 5419px;
  left: 0px;
  /* height: 387px; */
  background: #FDCEBC 0% 0% no-repeat padding-box;
  opacity: 1;
  align-items: center;
  justify-content: center;
  color: #6622CC;
}

footer{
  font-size: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 15px/19px Montserrat;
color: var(--unnamed-color-6622cc);
text-align: left;
font-size: normal normal bold 15px/19px Montserrat;
letter-spacing: 0.75px;
color: #6622CC;
opacity: 1;
}

.footer_section{
  display: flex;
    align-items: center;
    text-align: left;
font-size: 15px;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
letter-spacing: 0.75px;

}

.footer_section>.nav-item{
  color: #6622CC !important;
}

.footer-presentation{
  font-family: 'Montserrat', sans-serif;
  font-size: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 25px/30px Montserrat;

text-align: left;
font: 20px/30px Montserrat;
font-weight: bold;
letter-spacing: 2.5px;
color: #6622CC;
opacity: 1;
}

.nav-link{
  color: #6622CC;
}

.COPYRIGHT{
  
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 15px/19px Montserrat;
color: var(--unnamed-color-6622cc);
text-align: center;
/* font: normal normal bold 15px/19px Montserrat; */
letter-spacing: 3px;
color: #6622CC;
text-transform: uppercase;
opacity: 1;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
font-size: 15px;
}



.section-one{
  margin-top: 150px;
}



.title_sec1{
  text-align: left;
font-size: 40px;;
letter-spacing: 1.8px;
color: #FF579F;
opacity: 1;
font-weight: bold;
font-family: 'Poppins', sans-serif;
}


.text_sec1{
  margin-top: 30px;
    margin-bottom: 50px;
  text-align: left;
font-size: 25px;
letter-spacing: 0.6px;
color: #6622CC;
opacity: 1;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
}

.btn_sec1{
  margin-top: 30px;
    margin-bottom: 50px;
  display: flex;
  padding: 15px;
  background: #FF579F 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 36px;
border: none;
text-align: center;
font-size:  22px;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
}

.fishes{
  position: relative;
  top: 0;
  left: 0;
  width: 200px;
  
}
.fish
{
  position: absolute;
  top: 210px;
  right: 240px;
  height: 100px;
}


.slide_on{
  position: relative;
  top: 0;
  left: 0;
}

.slider{
  position: absolute;
  bottom: 800px;
  left: 240px;
  height: 100px;
  display: none;
}

.section_avantage{
  margin-left: 200px;
}

button:hover{
  color: #FF579F;
  border:1px solid #fff;
  background: transparent radial-gradient(closest-side at 50% 50%, #F0E6EF 0%, #CCFECB 100%) 0% 0% no-repeat padding-box;

}





/* 
MEDIA QUERIES ZONE  */
@media screen and (max-width: 1200px) {
  .text_sec1{
    text-align: center;
  }

  .section_avantage{
    margin-left: 00px;
  }

  .fish
  {
  display: none;
  }


}



.avantages{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-bottom: 15px;
}

.inscription{
 margin-top: 45px;
 margin-bottom: 25px;
}


.check >img{
  height: 46px;
}
.avantages>.texte{
  text-align: left;
font-size: 22px;
letter-spacing: 0px;
color: #6622CC;
opacity: 1;
font-family: 'Poppins', sans-serif;
}


.avantages_button{
  margin-top: 50px;
  padding: 10px;
  background: #FF579F 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 36px;
opacity: 1;
border: none;
text-align: center;
font-size:22px;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
}



.cadeau{
  font-family: 'Montserrat', sans-serif;
font-weight: bold;

  text-align: center;
font-size: 22px;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
border: none;
background: #FF579F 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 36px;
padding: 13px;
margin-top: 25px;
margin-bottom: 80px;
}




.cadeau:hover{
  color: #FF579F;
  border:1px solid #fff;
  background: transparent radial-gradient(closest-side at 50% 50%, #F0E6EF 0%, #CCFECB 100%) 0% 0% no-repeat padding-box;
}



.title_sec2{
  margin-bottom: 50px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
font-weight: bold;
font-size:42px;
letter-spacing: 6px;
color: #FF579F;
text-transform: uppercase;
opacity: 1;
}

.second_section{

  margin-top: 100px;
}
#name{
  background: #F0E6EF 0% 0% no-repeat padding-box;
border: 1px solid #F96AA3;
opacity: 1;
width: 377px;
height: 67px;
}

#email{
  background: #F0E6EF 0% 0% no-repeat padding-box;
  border: 1px solid #F96AA3;
  opacity: 1;
  width: 377px;
  height: 67px;
}

.input_zone{
  display: flex;
    justify-content: space-around;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  text-align: left;
  padding: 20px;
font-size: 20px;
letter-spacing: 2px;
color: #FF579F;
opacity: 0.8;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
}

.third_section{

  margin-top: 100px;
  margin-bottom: 100px;
}


.texte_quatro{
  /* text-align: left; */
  margin-bottom: 25px;
font-size:  20px;
letter-spacing: 3px;
color: #6622CC;
opacity: 1;
font-family: 'Montserrat', sans-serif;
}


/* CECI EST LA SECTION Du CAROUSEL */

.cadre{
  background: #FDD1BF 0% 0% no-repeat padding-box;
  /* height: 350px; */
  width: 100%;

}
.avatar{
  width: 180px;
height: 180px;
vertical-align: middle;
border-radius: 50%;
position: absolute;
margin-top: -40px; /* move image up fo 75px */
left:50%;
transform: translate(-50%,-50%)
}

.testimonial{
  text-align: center;
color: #6622CC;
opacity: 1;
font-family: 'Poppins', sans-serif;
font-size:22px ;
font-weight: bold;
margin-top: 20px;
}

.function{
  text-align: center;
font-size: 18px ;
font-family: 'Montserrat', sans-serif;
letter-spacing: 0px;
color: #FF5400;
text-transform: uppercase;
opacity: 1;
}

.texte_testimonial{
  padding: 40px;
}

.thunder{
  background-image: url(./IMG/THUNDER.png);
  
}
.btn_contact{
  font-family: 'Montserrat', sans-serif;
font-weight: bold;

  text-align: center;
font-size: 22px;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
border: none;
background: #FF579F 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 36px;
padding: 13px;
margin-top: 55px;
margin-bottom: 250px;
}

.carousel-item{
  margin-top: 150px;
}
/*CECI EST LA SECTION Du CAROUSEL*/



/*  ZONE MODAL */


.form_part_one{
  padding: 35px;
}

.title_part_one{

  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;  
font-size: 19px;
letter-spacing: 3.2px;
color: #FF579F;
opacity: 1;

}


.text_part_one{
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;  
font-size: 16px;
letter-spacing: 2.2px;
color: #6622CC;
opacity: 1;
}

.section{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.modal-content{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none !important;
}

.modal-backdrop.fade.show{
  display:none;
}



.modal {
  box-shadow: none !important;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgb(0 0 0 / 5%); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}


.modal-open {
  overflow: scroll;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.form_part_one{
  background: #DFF8DF 0% 0% no-repeat padding-box;
opacity: 1;
display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form_part_two{
  padding: 30px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}

.validation_form{
  margin: 20px;
  background: #FF579F 0% 0% no-repeat padding-box;
border-radius: 42px;
font-family: 'Poppins', sans-serif;
font-weight: 900; 
border: none;
text-align: center;
font-size: 16px;
letter-spacing: 2.2px;
color: #FFFFFF;
opacity: 1;
padding: 10px;
}

.title2{
  margin-top: 25px;
}

.formulaire{
  text-align: left;
}

.form{
  margin-top: 10px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* The Close Button */
.close {
  margin-top: -22px;
  color: #292828;;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.formulaire>h4{
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-weight: bold; 
  font-weight: 900;
font-size: 19px;
letter-spacing: 2.2px;
color: #161616;
opacity: 1;
}

input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: black;
  /* width:400px; */
  padding: 10px;
}
#fname{
  width:400px;
 
}
form{
  margin-top: 20px;
}



.condition_form{
  text-align: left;
  font-family: 'Poppins', sans-serif;
font-size: 9px;
letter-spacing: 0.6px;
color: #161616;
opacity: 1;
}


/* FIN  ZONE MODAL */






/* CECI EST LA SECTION DES MEDIA QUERIES */
@media screen and (max-width: 992px) {

  .btn_sec1{
    display: inline;
  }

  #name{
    width: 250px;
  }
  #email{
    width: 250px;
  }

  .title_sec1{
    font-size: 30px;
    text-align: center;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    text-align: left;
    padding: 20px;
  font-size: 15px;
  letter-spacing: 2px;
  color: #FF579F;
  opacity: 0.8;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  }
  .input_zone{
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  input{
    margin: 15px;
  }

  .title_sec2{
    font-size: 30px;
    text-align: center;
  }
  .check >img {
    height: 46px;
    width: 100px;
}

.inscription{
margin: 0;
 }

 
 footer{
  display: flex !important;
  flex-direction: column;
}


.footer-presentation{
  text-align: center;
  margin-top: 20px;
}

.footer_sec1{
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  justify-content: center;
  align-content: center;
}

}
/* CECI EST LA SECTION DES MEDIA QUERIES */



